package main

import (
	"bufio"
	"flag"
	"fmt"
	"log"
	"os"
	//	"strconv"
	//	"strings"
)

func getInput(filename string) {
	f, err := os.Open(filename)
	if err != nil {
		log.Fatal(err)
	}
	defer f.Close()

	scanner := bufio.NewScanner(f)

	for scanner.Scan() {
		line := scanner.Text()
		fmt.Println(line)
	}
}

func main() {
	f := flag.String("f", "t", "")
	flag.Parse()
	if string(*f) == "t" {
		getInput("../test_input.txt")
	} else {
		getInput("../input.txt")
	}
}
